
.card {
    background-color: rgba(191, 212, 216, 0.233);
       position: absolute;
       margin-top: -10px;
        
}

li {
 list-style-type: none;
}

ul{
    margin-top: 140px;
}

h2 {
    margin-left: 30px;
}
h4 {
    margin-left: 90px;
}